{% extends 'home/base.html' %}
{% block body %}
{% load staticfiles %}

<header class="masthead">
	<div class="overlay">
		
		<div class="container text-white">
			
			<div class="row align-items-center">
			<div class="col-md-10">
					
			<div class="row align-items-center">
				<div class="col-md-12 my-name">
					<h1>Annmarie Switzer</h1>
					<h3>Web Developer & Programmer</h3>
				</div>
			</div>
			<div class="row align-items-center py-5">
				<div class="col-md-12">
					<ul class="list-inline home-buttons m-0">
						<li class="list-inline-item">
							<a href="{% url 'projects:projects' %}" class="btn btn-lg btn-block btn-primary">
								<i class="fa fa-code mr-2"></i> 
								<span> Projects</span>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://github.com/bellamira" target="_blank" class="btn btn-lg btn-block btn-primary">
								<i class="fa fa-github mr-2"></i>
								<span> GitHub</span>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="{% url 'contact:contact' %}" class="btn btn-lg btn-block btn-primary">
								<i class="fa fa-envelope-o mr-2"></i>
								<span> Contact</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-md-9 col-sm-10 d-none d-md-block">
					<h5>Back-ends built with beauty and brains. Front-ends focused on form and functionality. <a href="{% url 'projects:projects' %}">Take a look.</a></h5>
				</div>
			</div>
			
			</div>
			</div>

		</div> <!-- end container -->

	</div> <!-- end overlay -->
</header> <!-- end masthead -->

{% endblock %}

