<div class="row justify-content-center">
<div class="col-sm-8">

<table class="table table-bordered table-inverse text-center" id="calc-table">
	<tbody>
		<tr class="tr-calc">
			<td id="breadcrumbs" class="text-right" colspan="4">0</td>
		</tr>
		<tr class="tr-calc">
			<td id="display" class="text-right" colspan="4">0</td>
		</tr>
		<tr class="tr-calc">
			<td id="clear" class="calc bg-warning">AC</td>
			<td id="del" class="calc bg-warning" colspan="2">
				<i id="del-icon" class="fa fa-chevron-left" aria-hidden="true"></i>
			</td>
			<td class="calc calc-func bg-info">/</td>
		</tr>
		<tr class="tr-calc">
			<td class="calc calc-num">7</td>
			<td class="calc calc-num">8</td>
			<td class="calc calc-num">9</td>
			<td class="calc calc-func bg-info">*</td>
		</tr>
		<tr class="tr-calc">
			<td class="calc calc-num">4</td>
			<td class="calc calc-num">5</td>
			<td class="calc calc-num">6</td>
			<td class="calc calc-func bg-info">-</td>
		</tr>
		<tr class="tr-calc">
			<td class="calc calc-num">1</td>
			<td class="calc calc-num">2</td>
			<td class="calc calc-num">3</td>
			<td class="calc calc-func bg-info">+</td>
		</tr>
		<tr class="tr-calc">
			<td class="calc calc-num" colspan="2">0</td>
			<td class="calc calc-num">.</td>
			<td id="equals" class="calc bg-info">=</td>
		</tr>
	</tbody>
</table>

</div>
</div>

