{% extends 'home/base.html' %}
{% block body %}

<div class="container pb-5">

	<!-- Angular -->
	<div class="row justify-content-center align-items-center">
		<div class="col-md-7 pt-5">
			<h2 class="text-center">Angular</h2>
			<hr class="project-hr">
			<p class="mt-4 text-center">
				At Sceven Development, I am the primary frontend engineer, responsible for both greenfield and existing applications. These web apps are all part of a loosely-defined suite of corporate data management tools.
			</p>
		</div>
	</div>

	<div class="card-group py-3">
		{% for project in projects %}
		<div class="col-sm-6 mt-4">
			<div class="card text-white {% cycle 'bg-primary' 'bg-success' 'bg-info' 'bg-warning' 'bg-danger' %}">
				<div class="card-body">
					<h5 class="card-title w-75 d-flex justify-content-between" style="border-bottom: solid 2px white;">
						<span>{{ project.name }}</span>
						<i class="{{ project.icon }}"></i>
					</h5>
					<p class="card-text" style="font-weight: 300;">{{ project.description | safe }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>


	<!-- Django/Python -->
	<!-- <div class="row justify-content-center align-items-center">
		<div class="col-md-7 pt-5 mt-3">
			<h2 class="text-center">Python</h2>
			<hr class="project-hr">
			<p class="mt-4 text-center">
				Sparkit is an application that connects event hosts to prospective event goers. My primary responsibility for the application has been user CRUD functionality and authentication, as well as styling the associated pages. The application uses Django's model-based forms and authentication middleware along with PostgreSQL.
			</p>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-sm-8">
			<div class="card mt-4">
				<iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/wfDu1RsjIHQ"
					frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
			</div>
		</div>
	</div> -->


	<!-- jQuery -->
	<div class="row justify-content-center align-items-center">
		<div class="col-md-7 pt-5 mt-3">
			<h2 class="text-center">jQuery</h2>
			<hr class="project-hr">
			<p class="mt-4 text-center">
				A series of small JavaScript challenges from <em>freeCodeCamp</em>.
			</p>
		</div>
	</div>

	<div class="card-group py-3">

		{% for app, info in apps.items %}
		{% with name=info.name %}
		{% with template=info.template %}
		{% with icon=info.icon %}
		{% with url=info.url %}

		<!-- Card -->
		<div class="col-lg-3 col-md-4 col-sm-6 mt-4">
			<a
				href="#"
				data-target="#{{ app }}-modal"
				data-toggle="modal"
				id=""
				class="card jquery-card text-center text-white {% cycle 'bg-info' 'bg-warning' 'bg-danger' 'bg-primary' 'bg-success' %}">
				<div class="card-body">
					<h4 class="card-text"><i class="{{ icon }}"></i></h4>
					<h5 class="card-text">{{ name }}</h5>
				</div>
			</a>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="{{ app }}-modal" tabindex="-1" role="dialog" aria-labelledby="{{ app }}-modal-label"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" id="{{ app }}-modal-content">
					<div class="modal-header">
						<h5 class="modal-title">{{ name }}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" id="{{ app }}-modal-body">
						{% include template %}
					</div>
					<div class="modal-footer">
						<a class="btn btn-primary" href="{{ url }}" target="_blank">GitHub</a>
						<button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		{% endwith %}
		{% endwith %}
		{% endwith %}
		{% endwith %}
		{% endfor %}

	</div>


</div> <!-- End container -->

{% endblock %}


{% block scripts %}
{% load staticfiles %}
<script src="{% static 'weather/js/weather.js' %}"></script>
<script src="{% static 'calculator/js/calc.js' %}"></script>
<script src="{% static 'pomodoro/js/pomodoro.js' %}"></script>
<script src="{% static 'tictactoe/js/tictactoe.js' %}"></script>
<script src="{% static 'simon/js/simon.js' %}"></script>
<script src="{% static 'wikipedia/js/wikipedia.js' %}"></script>
<script src="{% static 'workout/js/workout.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript"> moment().format(); </script>
{% endblock %}