{% extends 'home/base.html' %}
{% block body %}

<div class="container pb-5">

<!-- Python -->
<div class="row justify-content-center align-items-center">
	<div class="col-md-9 pt-5">
		<h2 class="text-center">Python</h2>
		<hr class="project-hr">
	</div>
</div>
	
<div class="card-group py-3">
	<div class="col-lg-6 mt-4">
		<a href="http://cale-annmarie-wedding.appspot.com/" target="_blank" class="card python-card text-center">
			<div class="card-body">
				<h4 class="card-title">Wedding Website</h4>
			</div>
			<img id="p2i_demo" class="card-img" alt="Responsive image" src="http://api.page2images.com/directlink?p2i_url=http://cale-annmarie-wedding.appspot.com/&p2i_device=6&p2i_screen=1024x768&p2i_&p2i_key={{ img_key }}">
		</a>
	</div>
	<div class="col-lg-6 mt-4 text-left">
		<p>My husband and I made our wedding website after taking a Udacity course on <a href="https://www.udacity.com/course/web-development--cs253" target="_blank" class="colored-link">web development.</a> This course taught things like how to use a <a href="http://jinja.pocoo.org/docs/2.9/" target="_blank" class="colored-link">templating engine</a> and how to host a site using a <a href="https://cloud.google.com/appengine/" target="_blank" class="colored-link">cloud platform</a>. I am currently in the process of redoing this project and incorporating it into this site as it's own Django application.</p>
	</div>
</div>
<!-- End Python -->


<!-- JS -->
<div class="row justify-content-center align-items-center">
	<div class="col-md-9 pt-5 text-center">
		<h2>JavaScript - jQuery</h2>
		<p>This is a collection small web applications. Most were made for the <a href="https://www.freecodecamp.org/bellamira" target="_blank" class="colored-link">freeCodeCamp Front End Development Certification.</a></p>
		<hr class="project-hr">
	</div>
</div>

<div class="card-group py-3">

	{% for app, info in apps.items %}
	{% with name=info.name %}
	{% with template=info.template %}
	{% with icon=info.icon %}
	{% with url=info.url %}
	
	<!-- Card -->
		<div class="col-lg-3 col-md-4 col-sm-6 mt-4">
			<a href="#" data-target="#{{ app }}-modal" data-toggle="modal" id="" class="card text-center text-white {% cycle 'bg-primary' 'bg-success' 'bg-info' 'bg-warning' 'bg-danger' %}">
				<div class="card-body">
					<h4 class="card-text"><i class="{{ icon }}"></i></h4>
					<h5 class="card-text">{{ name }}</h5>
				</div>
			</a>
		</div>

	<!-- Modal -->
		<div class="modal fade" id="{{ app }}-modal" tabindex="-1" role="dialog" aria-labelledby="{{ app }}-modal-label" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" id="{{ app }}-modal-content">
					<div class="modal-header">
    					<h5 class="modal-title">{{ name }}</h5>
    					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
      						<span aria-hidden="true">&times;</span>
    					</button>
    				</div>
					<div class="modal-body" id="{{ app }}-modal-body">
						{% include template %}
					</div>
					<div class="modal-footer">
						<a class="btn btn-primary" href="{{ url }}" target="_blank">GitHub</a>
    					<button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Close</button>
  					</div>
				</div>
			</div>
		</div>

	{% endwith %}
	{% endwith %}
	{% endwith %}
	{% endwith %}
	{% endfor %}

</div>
<!-- End JS -->

</div> <!-- End container -->

{% endblock %}


{% block scripts %}
	{% load staticfiles %}
	<script src="{% static 'weather/js/weather.js' %}"></script>
	<script src="{% static 'calculator/js/calc.js' %}"></script>
	<script src="{% static 'pomodoro/js/pomodoro.js' %}"></script>
	<script src="{% static 'tictactoe/js/tictactoe.js' %}"></script>
	<script src="{% static 'simon/js/simon.js' %}"></script>
	<script src="{% static 'wikipedia/js/wikipedia.js' %}"></script>
	<script src="{% static 'workout/js/workout.js' %}"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script type="text/javascript"> moment().format(); </script>
{% endblock %}
