<div class="text-center">
	<h4 class="" id="location"></h4>
	<div class="">
		<span id="current-weather"></span>
		<span id="temp"></span>
		<button type="button" id="weather-button" class="btn btn-secondary btn-sm">F</button>
	</div>
</div>
<table class="table">
	<tbody id="forecast-div" class="text-center">

	</tbody>
</table>
<div class="text-center text-muted">
	<p><a href="https://www.wunderground.com/weather?query=autoip" target="_blank" class="btn btn-primary" role="button" id="wu-link">Full Forecast</a></p>
	<p><small><i id="observation-time"></i></small></p>
</div>
