<div class="container text-primary">
	
	<div class="container" id="ttt">
		<h5 class="text-center"><span id="message">Choose Your Team</span></h5>
		<h5 class="text-center"><span id="newgame">New Game</span></h5>

		<!-- Chooser -->
		<div class="row justify-content-center text-center mt-4" id="chooser">
			<!-- <div class="col"></div> -->
			<div class="col-3">
				<button class="btn btn-block btn-outline-primary ttt-button" id="X">X</button>
			</div>
			<div class="col-3">
				<button class="btn btn-block btn-outline-primary ttt-button" id="O">O</button>
			</div>
			<!-- <div class="col"></div> -->
		</div>
		
	</div> <!-- end .ttt container -->

	<!-- Board -->
	<div class="container" id="board">
		<br>
		<br>
		<div class="row justify-content-center text-center">
			<table class="" id="ttt-table">
				<tbody>
					<tr class="" id="ttt-row-1">
						<td class="ttt-box border-top-0 border-left-0" id="box1"></td>
						<td class="ttt-box border-top-0 align-middle" id="box2"></td>
						<td class="ttt-box border-top-0 border-right-0" id="box3"></td>
					</tr>
					<tr class="" id="ttt-row-2">
						<td class="ttt-box border-left-0" id="box4"></td>
						<td class="ttt-box" id="box5"></td>
						<td class="ttt-box border-right-0" id="box6"></td>
					</tr>
					<tr class="" id="ttt-row-3">
						<td class="ttt-box border-bottom-0 border-left-0" id="box7"></td>
						<td class="ttt-box border-bottom-0" id="box8"></td>
						<td class="ttt-box border-bottom-0 border-right-0" id="box9"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div> <!-- end main container -->
