<div class="container text-center">
	<h2 class="mb-4 text-center">Wikipedia Search</h2>

	<form class="mb-4" id="search">
		<div id="search-div" class="input-group">
			<input type="text" class="form-control" id="search-term" name="search-term" placeholder="Search..." required>
			<span class="input-group-btn"><button class="btn btn-primary" id="search-button"><i class="fa fa-search fa-2x"></i></button></span>
		</div>
	</form>

	<p><a class="btn btn-link" href="https://en.wikipedia.org/wiki/Special:Random" target="_blank">Teach me something new!</a></p>

	<!-- Results will populate here -->
	<div class="text-left" id="results"></div>

</div>
